.cities {
  margin-top: 5em;
  padding: 8em 0;

  .wrapper {
    width: 60%;
    height: 250px;
    margin: auto;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: rgba(94, 1, 243, 0.992);

    .title {
      text-align: center;
      color: white;
      background-color: black;
      font-weight: 900;
      font-size: 14px;
      width: 150px;
      height: 30px;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    p {
      margin-top: 10px;
      width: 70%;
      font-size: 1.7em;
      font-weight: 700;
      text-align: center;
      color: white;
    }

    .c-t-a {
      width: 40%;
      height: 40px;
      border-radius: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: black;
      margin-top: 1em;
      cursor: pointer;
      transition: background-color 0.2s;

      a {
        font-weight: 900;
        font-size: 15px;
        color: white;
      }

      &:hover {
        background-color: rgba(4, 76, 105, 0.729);
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .cities {
    margin-top: 7em;
    padding: 3em 0;

    .wrapper {
      width: 95%;
      height: fit-content;
      margin: auto;
      margin-top: 0;
      padding: 2em 0;

      .title {
        font-size: 14x;
        width: 150px;
        height: 35px;
      }

      p {
        width: 90%;
        font-size: 1.5em;
      }

      .c-t-a {
        width: 90%;
        height: 45px;
      }
    }
  }
}
